@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    transform: translateX(2rem);
  }
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
